@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', Arial, sans-serif;
}
body {
  color: #212529;
}
/* Containers CSS */

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fd7e14;
  color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.main-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-style:italic;
  font-weight: 800;
}
.main-heading:hover{
  color: #212529;
}
.nav-links {
  display: flex;
  gap: 12px;
  margin-right: 8px;
  font-weight: 800;
}
.nav-links-link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  align-self: center;
  padding: 2px;
  border-radius: 10px;
}
.nav-links-link:hover{
  background-color: #ffa94d;
  color: #212529;

}
.website-main-intro {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.website-name {
  justify-self: center;
  margin-top: 96px;
  margin-left: 50px;
}
.container {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  /* border-bottom: 5px solid #5f3dc4; */
}
footer {
  text-align: center;
  padding: 15px;
  color: #fd7e14;
}
