@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  color: #212529;
  font-family: 'Fredoka', Arial, sans-serif;
}

/* ^Containers CSS */

.body-container{
  width: 100%;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fd7e14;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.main-heading {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing:0.01rem;
}
 .main-heading a {
   text-decoration: none;
   color: #fff;
 }

.nav-links {
  display: flex;
  gap: 0.7rem;
  margin-right: 0.5rem;
  font-weight: 700;
}
.nav-links-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  align-self: center;
  padding: 0.1rem;
  border-radius: 0.5rem;
}
.nav-links-link:hover,
.nav-links-link:visited{
  background-color: #ffa94d;
  color: #212529;

}

.container {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #fd7e14;
}

@media (max-width: 600px){
  #nav-links-link-donation, #nav-links-link-volunteer, #nav-links-link-contact {
    display: none;
  }

}
